

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.police-tape {
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  background-color: #fffaf0;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  align-items: center;

}

h1 {
  text-align: center;
  margin-block-end: 2.5rem;
}

.stock-ticker {
  font-size: 15px;
  padding-block: 16px;
  overflow: hidden;
  user-select: none;

  --gap: 10px;
  display: flex;
  gap: var(--gap);
  transform: rotate(-10deg);
    transform-origin: left bottom;
    background-color: black;

}
.stock-ticker-1 {
  font-size: 15px;
  padding-block: 16px;
  overflow: hidden;
  user-select: none;
  --gap: 10px;
  display: flex;
  gap: var(--gap);
  transform: rotate(6deg);
    transform-origin: right bottom;
    background-color: black;
}

.stock-ticker ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);
    
  animation: scroll 10s linear infinite;
}
.stock-ticker-1 ul {
  list-style: none;
  flex-shrink: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap);

  animation: scroll 10s linear infinite;
}

.stock-ticker:hover ul {
  animation-play-state: paused;
}
.stock-ticker-1:hover ul {
  animation-play-state: paused;
}

@keyframes scroll {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

.stock-ticker .company,
.stock-ticker .price {
  font-weight: bold;
}
.stock-ticker-1 .company,
.stock-ticker-1 .price {
  font-weight: bold;
}

.stock-ticker .price {
  margin-inline: 4px;
  font-weight: bold;
}
.stock-ticker-1 .price {
  margin-inline: 4px;
  font-weight: bold;
}

.stock-ticker .change {
  font-weight: bold;
  color: #4440ba;
}
.stock-ticker-1 .change {
  font-weight: bold;
  color: #4440ba;
}


@media screen and (max-width: 600px) {
  .stock-ticker {
    display: none;
  }
  .stock-ticker-1 {
    font-size: 12px;
    transform: rotate(2deg);
    transform-origin: right bottom;

  }
  
}